<div class="registration-wrapper">
    <form [formGroup]="authService.registerForm" (ngSubmit)="onSubmit()">
        <div class="upper-line"></div>
        <div class="logo-wrapper">
            <img class="logo" src="../assets/logo.svg" alt="logo.svg">
            <span>Angular course task manager</span>
            <span class="faded">(Registration Form)</span>
        </div>
        <div class="form-items">
            <div class="form-item">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Username" formControlName="username" />
                </p-inputGroup>
                <span class="warning-text" *ngIf="!authService.registerForm.get('username')?.valid && authService.registerForm.get('username')?.touched">Username should contain at least 2 characters.</span>
            </div>
            <div class="form-item">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-envelope"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Email" formControlName="email" />
                </p-inputGroup>
                <span class="warning-text" *ngIf="!authService.registerForm.get('email')?.valid && authService.registerForm.get('email')?.touched">Please enter a valid email.</span>
            </div>
            <div class="form-item">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-phone"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Phone"  formControlName="phone" />
                </p-inputGroup>
                <span class="warning-text" *ngIf="!authService.registerForm.get('phone')?.valid && authService.registerForm.get('phone')?.touched">Phone should contain at least 8 numbers.</span>
            </div>
            <div class="form-item">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="Password" type="password" formControlName="password" />
                </p-inputGroup>
                <span class="warning-text" *ngIf="!authService.registerForm.get('password')?.valid && authService.registerForm.get('password')?.touched">Password should contain at least 8 characters.</span>
            </div>
        </div>
        <div class="buttons">
            <button pButton class="register-button" type="submit" label="Submit" [disabled]="!authService.registerForm.valid"></button>
            <span class="login-link">Already have an account?</span>
        </div>
</form>
</div>
