<aside class="app-sidebar">
    <div class="sidebar-header">
        <div class="project-icon"></div>
        <div class="project-info">
            <h6 class="project-name"><strong>Angular Course Project</strong></h6>
            <span class="project-type">Software project</span>
        </div>
    </div>
    <div class="sidebar-main-wrapper">
        <nav>
            <ul>
                <span routerLink="/dashboard" class="sidebar-link">
                    <li class="sidebar-item">
                        <img class="sidebar-icon" src="../../../assets/dashboard-icon.svg">
                        <span>Dashboard</span>
                    </li>
                </span>
            </ul>
            <ul>
                <span class="sidebar-link">
                    <li class="sidebar-item">
                        <img class="sidebar-icon" src="../../../assets/info-circle-icon.svg">
                        <span>About</span>
                    </li>
                </span>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <span class="footer-info">Angular Course Project</span>
            <h6>Made by David.</h6>
        </div>
    </div>

</aside>